---
- import_playbook: "templates/playbook.yml"
- import_playbook: "compress/playbook.yml"
- name: "ansiblecfgs: openwrt-install-sing-box"
  hosts: all
  gather_facts: false
  tasks:
    - name: Update opkg
      raw: opkg update

    - name: Install SFTP server
      raw: opkg install openssh-sftp-server

    - name: Install kmod-tun # sing-box dep
      raw: opkg install kmod-tun

    - name: Stop sing-box service (ignore errors)
      raw: service sing-box stop || true

    - name: Ensure required directories exist
      raw: |
        mkdir -p "{{ sb_bin | dirname }}"
        mkdir -p "{{ sb_config | dirname }}"
        mkdir -p "{{ sb_workdir }}"

    - name: Copy binary
      local_action: shell scp -P {{ ansible_port }} {{ compress_sb_bin }} 'root@{{ ansible_host }}:{{ sb_bin }}'

    - name: Make binary executable
      raw: chmod +x "{{ sb_bin }}"

    - name: Copy etc config
      local_action: shell scp -P {{ ansible_port }} {{ ts_sb_etc_config }} 'root@{{ ansible_host }}:{{ sb_etc_config }}'

    - name: Copy initd config
      local_action: shell scp -P {{ ansible_port }} {{ ts_sb_initd_config }} 'root@{{ ansible_host }}:{{ sb_initd_config }}'

    - name: Copy config
      local_action: shell scp -P {{ ansible_port }} {{ ts_sb_config }} 'root@{{ ansible_host }}:{{ sb_config }}'

    - name: Make initd config executable
      raw: chmod +x "{{ sb_initd_config }}"

    - name: Start sing-box service (ignore errors)
      raw: service sing-box start || true
