---
- name: Ensure web root exists
  ansible.builtin.file:
    path: "/var/www/{{ item.domain }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'
  loop: "{{ nginx_sites }}"
  loop_control:
    label: "{{ item.domain }}"
  when: item.domain is defined and item.domain | length > 0

- name: Render configs
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "/etc/nginx/conf.d/{{ item.domain }}.conf"
  loop: "{{ nginx_sites }}"
  loop_control:
    label: "{{ item.domain }}"
  when: item.src is defined and item.src | length > 0 and item.domain is defined and item.domain | length > 0

- name: Remove configs if not needed
  ansible.builtin.file:
    path: "/etc/nginx/conf.d/{{ item.domain }}.conf"
    state: absent
  loop: "{{ nginx_sites }}"
  loop_control:
    label: "{{ item.domain }}"
  when: item.domain is defined and (item.src is not defined or item.src | length == 0)

