---
- name: Render config
  ansible.builtin.template:
    src: "{{ nginx_conf_src }}"
    dest: "/etc/nginx/conf.d/{{ nginx_domain }}.conf"
  when:
    - nginx_conf_src is defined
    - nginx_conf_src | length > 0
    - nginx_domain is defined
    - nginx_domain | length > 0

- name: Remove config if not needed
  ansible.builtin.file:
    path: "/etc/nginx/conf.d/{{ nginx_domain }}.conf"
    state: absent
  when:
    - nginx_domain is defined
    - nginx_domain | length > 0
    - nginx_conf_src is not defined or nginx_conf_src | length == 0
