{
    "log": {
        "level": "warning",
        "timestamp": true
    },
    "dns": {
        "final": "cloudflare-direct",
        "servers": [
            {
                "tag": "cloudflare-direct",
                "type": "https",
                "server": "1.1.1.1"
            },
            {
                "tag": "google-direct",
                "type": "https",
                "server": "8.8.8.8"
            }
        ]
    },
    "endpoints": [
        {
            "type": "wireguard",
            "tag": "wg-in",
            "system": true,
            "mtu": 1408,
            "address": [
                "10.18.0.1/24",
                "fd10:18::1/64"
            ],
            "private_key": "{{ wg_server_private_key }}",
            "listen_port": {{ wg_port }},
            "peers": [
                {
                    "public_key": "{{ wg_client_public_key }}",
                    "allowed_ips": [
                        "10.18.0.2/32",
                        "fd10:18::2/128"
                    ]
                }
            ]
        }
    ],
    "outbounds": [
        {
            "type": "direct",
            "tag": "direct-out"
        }
    ],
    "route": {
        "final": "direct-out",
        "default_domain_resolver": "cloudflare-direct",
        "rules": [
            {
                "action": "sniff"
            },
            {
                "protocol": "dns",
                "action": "hijack-dns"
            },
            {
                "action": "reject",
                "protocol": [
                    "bittorrent",
                    "quic"
                ]
            }
        ]
    },
    "experimental": {
        "cache_file": {
            "enabled": true
        }
    }
}
