---
- import_playbook: ../install-xray/playbook.yml
- import_playbook: ../install-certbot/playbook.yml
- import_playbook: ../certbot-default/playbook.yml
- name: "ansiblecfgs: reality-sfy"
  hosts: all
  become: true
  tasks:
    - name: Generate shortID
      command: openssl rand -hex 8
      register: xray_short_id

    - name: Notify shortID
      debug:
        msg: "ATTENTION! Your XRay shortID is: {{ xray_short_id.stdout }}. It needed for client."

    - name: Generate UUID
      command: xray uuid
      register: xray_uuid

    - name: Notify UUID
      debug:
        msg: "ATTENTION! Your Xray UUID is: {{ xray_uuid.stdout }}. It needed for client."

    - name: Generate keys
      command: xray x25519
      register: xray_keys

    - name: Extract keys
      set_fact:
        xray_private_key_e: "{{ xray_keys.stdout.split('Private key: ')[1].split()[0] }}"
        xray_public_key_e: "{{ xray_keys.stdout.split('Public key: ')[1].split()[0] }}"

    - name: Notify public key
      debug:
        msg: "ATTENTION! Your Xray public key is: {{ xray_public_key_e }}. It needed for client."

    - name: Generate Xray config
      template:
        src: xray.json.j2
        dest: /usr/local/etc/xray/config.json
      vars:
        xray_private_key: "{{ xray_private_key_e }}"

    - name: Generate nginx config
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/nginx.conf

    - name: Copy nginx index.html
      ansible.builtin.copy:
        src: index.html
        dest: /usr/share/nginx/html/index.html

    - name: Restart nginx
      systemd:
        daemon_reload: true
        name: nginx
        state: restarted

    - name: Restart Xray
      systemd:
        daemon_reload: true
        name: xray
        state: restarted
