[Unit]
Description=Run xray_geo_autoupdate script according to calendar

[Timer]
OnCalendar={{ xray_geo_autoupdate_calendar }}
Persistent=true
Unit=xray_geo_autoupdate.service

[Install]
WantedBy=timers.target