{
  "log": {
    "loglevel": "warning"
  },
  "dns": {
    "servers": [
      "https+local://1.1.1.1/dns-query",
      "https+local://8.8.8.8/dns-query"
    ],
    "tag": "dns-in"
  },
  "routing": {
    "domainStrategy": "AsIs",
    "rules": [
      {
        "type": "field",
        "protocol": [
          "bittorrent"
        ],
        "outboundTag": "block"
      }
    ]
  },
  "inbounds": [
    {
      "port": {{ xray_listen_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ xray_identity.uuid }}",
            "flow": "xtls-rprx-vision",
            "level": 0,
            "email": "love@xray.com"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "raw",
        "security": "reality",
        "realitySettings": {
          "fingerprint": "{{ xray_fingerprint }}",
          "dest": "{{ xray_dest_port }}",
          "serverNames": [
            "{{ xray_sni }}"
          ],
          "privateKey": "{{ xray_identity.private_key }}",
          "shortIds": [
            "{{ xray_identity.short_id }}"
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "routeOnly": true,
        "destOverride": [
          "http",
          "tls"
        ]
      }
    }
  ],
  "outbounds": [
    {
      "tag": "direct",
      "protocol": "freedom"
    },
    {
      "tag": "block",
      "protocol": "blackhole"
    }
  ]
}
