{
    "log": {
        "loglevel": "warning"
    },
    "dns": {
        "tag": "dns-in",
        "servers": [
            {
                "address": "https://1.1.1.1/dns-query"
            },
            {
                "address": "https://8.8.8.8/dns-query"
            }
        ]
    },
    "routing": {
        "domainStrategy": "IpOnDemand",
        "rules": [
            {
                "type": "field",
                "outboundTag": "block",
                "protocol": [
                    "bittorrent"
                ]
            }
        ]
    },
    "inbounds": [
        {
            "tag": "vless-in",
            "protocol": "vless",
            "listen": "::",
            "port": {{ xray_listen_port }},
            "settings": {
                "clients": [
                    {
                        "id": "{{ xray_identity.uuid }}",
                        "email": "love@xray.com",
                        "flow": ""
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "xhttp",
                "security": "tls",
                "tlsSettings": {
                    "serverName": "{{ xray_sni }}",
                    "fingerprint": {{ xray_fingerprint }},
                    "minVersion": "1.2",
                    "maxVersion": "1.3",
                    "rejectUnknownSni": true,
                    "disableSystemRoot": true,
                    "alpn": [
                        "h2"
                    ],
                    "certificates": [
                        {
                            "certificateFile": "{{ xray_certificate_path }}",
                            "keyFile": "{{ xray_key_path }}"
                        }
                    ],
                    "sockopt": {
                        "tcpCongestion": "bbr"
                    }
                },
                "xhttpSettings": {
                    "host": "{{ xray_sni }}",
                    "path": "{{ xray_xhttp_path }}"
                }
            },
            "sniffing": {
                "enabled": true,
                "routeOnly": true,
                "destOverride": [
                    "http",
                    "tls"
                ]
            }
        }
    ],
    "outbounds": [
        {
            "tag": "direct-out",
            "protocol": "freedom"
        },
        {
            "tag": "block-out",
            "protocol": "blackhole"
        }
    ]
}
