{
    "log": {
        "loglevel": "warning"
    },
    "dns": {
        "tag": "dns-in",
        "queryStrategy": "UseIP",
        "servers": [
            {
                "address": "https+local://1.1.1.1/dns-query"
            },
            {
                "address": "https+local://8.8.8.8/dns-query"
            }
        ]
    },
    "routing": {
        "domainStrategy": "AsIs",
        "rules": [
            {
                "type": "field",
                "outboundTag": "block",
                "protocol": [
                    "bittorrent"
                ]
            }
        ]
    },
    "inbounds": [
        {
            "tag": "vless-in",
            "protocol": "vless",
            "listen": "::",
            "port": {{ xray_listen_port }},
            "settings": {
                "clients": [
                    {
                        "id": "{{ xray_identity.uuid }}",
                        "email": "love@xray.com",
                        "flow": ""
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "xhttp",
                "security": "tls",
                "tlsSettings": {
                    "serverName": "{{ xray_sni }}",
                    "fingerprint": "{{ xray_fingerprint }}",
                    "rejectUnknownSni": true,
                    "disableSystemRoot": true,
                    "alpn": [
                        "h2"
                    ],
                    "certificates": [
                        {
                            "certificateFile": "{{ xray_certificate_path }}",
                            "keyFile": "{{ xray_key_path }}"
                        }
                    ]
                },
                "xhttpSettings": {
                    "host": "{{ xray_sni }}",
                    "path": "{{ xray_xhttp_path }}"
                },
                "sockopt": {
                    "tcpFastOpen": true,
                    "tcpMptcp": true,
                    "tcpNoDelay": true,
                    "tcpcongestion": "bbr"
                }
            },
            "sniffing": {
                "enabled": true,
                "routeOnly": true,
                "destOverride": [
                    "http",
                    "tls"
                ]
            }
        }
    ],
    "outbounds": [
        {
            "tag": "direct-out",
            "protocol": "freedom",
            "settings": {
                "domainStrategy": "UseIP"
            }
        },
        {
            "tag": "block-out",
            "protocol": "blackhole",
            "settings": {
                "response": {
                    "type": "http"
                }
            }
        }
    ]
}
