*.swp
*.swo
*.bak
*.tmp
*.log
.DS_Store
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env/
env/

**/vault.yml
**/secrets.yml
*.retry
*.retry.*
*.cache
*.pem
*.key
*.crt

secrets/
collections/
.ansible/

# WSL zone identifier
*Zone.Identifier

# Fact cache
/tmp/ansible_facts

# may be used in default vars for storing temp data
temp*
