---
- name: System
  hosts: all
  become: "{{ ansible_user != 'root' }}"
  gather_facts: true
  tasks:
    - name: "firewall: cleanup"
      ansible.builtin.include_role:
        name: firewall
        tasks_from: cleanup.yml

    - name: "system: main"
      ansible.builtin.include_role:
        name: system
        tasks_from: main.yml

    - name: Determine effective SSH port
      ansible.builtin.set_fact:
        effective_ssh_port: >-
          {{
            system_new_ssh_port
            if (
              system_new_ssh_port is defined and
              (system_new_ssh_port | int(default=0)) > 0 and
              (system_new_ssh_port | int) <= 65535
            )
            else (
              ansible_port
              if ansible_port is defined
              else 22
            )
          }}

    - name: "firewall: setup"
      block:
        - name: Install
          ansible.builtin.include_role:
            name: firewall
            tasks_from: install.yml

        - name: Allow SSH
          ansible.builtin.include_role:
            name: firewall
            tasks_from: rules.yml
          vars:
            firewall_rule_name: "99-allow_ssh"
            firewall_rules:
              - "add rule inet filter input tcp dport {{ effective_ssh_port }} accept"

        - name: Apply
          ansible.builtin.include_role:
            name: firewall
            tasks_from: apply.yml

    - name: "system: reboot if required"
      ansible.builtin.include_role:
        name: system
        tasks_from: reboot.yml
