---
- name: System
  hosts: all
  become: "{{ ansible_user != 'root' }}"
  gather_facts: true
  tasks:
    - name: "firewall: cleanup"
      ansible.builtin.include_role:
        name: firewall
        tasks_from: cleanup.yml

    - name: "system: main"
      ansible.builtin.include_role:
        name: system
        tasks_from: main.yml

    - name: "firewall: setup"
      block:
        - name: Set SSH port
          ansible.builtin.set_fact:
            firewall_ssh_port: "{{ system_new_ssh_port }}"

        - name: Install
          ansible.builtin.include_role:
            name: firewall
            tasks_from: install.yml

        - name: Apply rules
          ansible.builtin.include_role:
            name: firewall
            tasks_from: apply.yml

    - name: "system: reboot if required"
      ansible.builtin.include_role:
        name: system
        tasks_from: reboot.yml
