storage: "/var/lib/lego"

log:
  level: info
  format: json

networkStack: ipv4only

challenges:
  cf:
    dns:
      provider: cloudflare
      envFile: "/etc/lego/cloudflare.env"
      resolvers:
        - 1.1.1.1:53
        - 8.8.8.8:53

certificates:
{% set domains = docker_lego_domains %}
{% set processed = [] %}
{% for domain in domains %}
{% if domain.startswith('*.') %}
{% set base_domain = domain[2:] %}
{% set certificate_name = '_.{}'.format(base_domain) %}
{% if certificate_name not in processed %}
  {{ certificate_name }}:
    account: main
    renew:
      disableRandomSleep: true
    domains:
      - "{{ base_domain }}"
      - "{{ domain }}"
{% set _ = processed.append(certificate_name) %}
{% endif %}
{% else %}
{% set wildcard = '*.{}'.format(domain) %}
{% set certificate_name = domain %}
{% if wildcard in domains %}
{% set certificate_name = '_.{}'.format(domain) %}
{% if certificate_name not in processed %}
  {{ certificate_name }}:
    account: main
    renew:
      disableRandomSleep: true
    domains:
      - "{{ domain }}"
      - "{{ wildcard }}"
{% set _ = processed.append(certificate_name) %}
{% endif %}
{% elif certificate_name not in processed %}
  {{ certificate_name }}:
    account: main
    renew:
      disableRandomSleep: true
    domains:
      - "{{ domain }}"
{% set _ = processed.append(certificate_name) %}
{% endif %}
{% endif %}
{% endfor %}

accounts:
  main:
    email: "{{ docker_lego_email }}"
    acceptsTermsOfService: true

