---
- name: "sing-box: Shadowsocks"
  hosts: sing-box-shadowsocks
  become: true
  tasks:
    - name: "sing-box: install"
      ansible.builtin.include_role:
        name: singbox
        tasks_from: install.yml

    - name: "firewall: add, apply rules"
      block:
        - name: "Allow: sing-box {{ singbox_listen_port }} (TCP/UDP)"
          ansible.builtin.include_role:
            name: firewall
            tasks_from: rules.yml
          vars:
            firewall_rule_name: "allow_singbox"
            firewall_rules:
              - "add rule inet filter input tcp dport {{ singbox_listen_port }} accept"
              - "add rule inet filter input udp dport {{ singbox_listen_port }} accept"
        - name: Apply
          ansible.builtin.include_role:
            name: firewall
            tasks_from: apply.yml

    - name: "sing-box: install"
      ansible.builtin.include_role:
        name: singbox
        tasks_from: install.yml

    - name: "sing-box: apply Shadowsocks config"
      ansible.builtin.include_role:
        name: singbox
        tasks_from: shadowsocks.yml
