---
- name: "sing-box: Wireguard"
  hosts: sing-box-wireguard
  become: true
  tasks:
    - name: "sing-box: install"
      ansible.builtin.include_role:
        name: singbox
        tasks_from: install.yml

    - name: "firewall: add, apply rules"
      block:
        - name: "Allow: {{ singbox_listen_port }} (UDP) and interface wg0"
          ansible.builtin.include_role:
            name: firewall
            tasks_from: rules.yml
          vars:
            firewall_rule_name: "allow_singbox"
            firewall_rules:
              - "add rule inet filter input udp dport {{ singbox_listen_port }} accept"
              - 'add rule inet filter input iifname "wg0" accept'
              - 'add rule inet filter forward iifname "wg0" oifname "wg0" accept'
        - name: Apply
          ansible.builtin.include_role:
            name: firewall
            tasks_from: apply.yml

    - name: "sing-box: apply Wireguard config"
      ansible.builtin.include_role:
        name: singbox
        tasks_from: wireguard.yml
