#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0;
        policy drop;

        ct state invalid drop

        # allow loopback
        iif lo accept

        # allow established/related
        ct state established,related accept

        ip protocol icmp icmp type echo-request limit rate 10/second accept
        ip protocol icmp icmp type { destination-unreachable, time-exceeded, parameter-problem } accept

        ip6 nexthdr icmpv6 icmpv6 type echo-request limit rate 10/second accept
        ip6 nexthdr icmpv6 icmpv6 type {
            destination-unreachable,
            packet-too-big,
            time-exceeded,
            parameter-problem,
            nd-router-solicit,
            nd-router-advert,
            nd-neighbor-solicit,
            nd-neighbor-advert,
            mld-listener-query,
            mld-listener-report,
            mld-listener-done
        } accept

        # allow SSH
        tcp dport {{ firewall_ssh_port }} ct state new accept
    }

    chain forward {
        type filter hook forward priority 0; policy drop;

        ct state invalid drop
        ct state established,related accept
    }

    chain output {
        type filter hook output priority 0;
        policy accept;
    }
}

table ip nat {
    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;
    }
}

table ip6 nat {
    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;
    }
}


include "{{ firewall_rules_dir }}/*.nft"
