services:
  caddy:
    build:
      context: "{{ docker_caddy_dir }}"
    image: caddy-naive:latest
    container_name: caddy
    restart: unless-stopped

    networks:
      - proxy
    ports:
      - "443:443"
      - "80:80"

    volumes:
      - {{ docker_caddy_caddyfile }}:/etc/caddy/Caddyfile:ro
      # Certificates and account data, see XDG_DATA_HOME in Caddy image.
      - {{ docker_caddy_data }}:/data
      - {{ docker_caddy_config }}:/config
      - {{ docker_caddy_file_server }}:/var/www/{{ docker_caddy_domain }}
      - "{{ docker_lego_storage }}/certificates/{{ docker_caddy_domain }}.crt:/etc/caddy/certs/{{ docker_caddy_domain }}.crt:ro"
      - "{{ docker_lego_storage }}/certificates/{{ docker_caddy_domain }}.key:/etc/caddy/certs/{{ docker_caddy_domain }}.key:ro"

  sing-box:
    build:
      context: "{{ docker_singbox_dir }}"
    image: sing-box:latest
    container_name: sing_box
    restart: unless-stopped

    depends_on:
      - caddy
    networks:
      - proxy

    volumes:
      - {{ docker_singbox_config }}:/etc/sing-box/config.json:ro
      - {{ docker_singbox_data }}:/var/lib/sing-box

networks:
  proxy:
