{
    log {
        format console
    }

    storage file_system {
        root /data
    }

    order forward_proxy before file_server
}

:443, {{ docker_caddy_domain }} {
    tls /etc/caddy/certs/{{ docker_caddy_domain }}.crt /etc/caddy/certs/{{ docker_caddy_domain }}.key

    forward_proxy {
        basic_auth {{ docker_caddy_naive_username }} {{ docker_caddy_naive_password }}
        hide_ip
        hide_via
        probe_resistance

        disable_insecure_upstreams_check
        upstream socks5://sing-box:1080
    }

    file_server {
        root /var/www/{{ docker_caddy_domain }}
    }
}
