---
- import_playbook: ../install-sing-box/playbook.yml
- name: "ansiblecfgs: shadowsocks-sing-box"
  hosts: all
  become: true
  tasks:
    - name: Deploy Shadowsocks nftables rules
      block:
        - name: Copy Shadowsocks nftables snippet
          template:
            src: "20-shadowsocks-sb.nft.j2"
            dest: /etc/nftables.d/20-shadowsocks-sb.nft
            mode: "0644"

        - name: Reload nftables rules
          command: nft -f /etc/nftables.conf

    - name: Download tcp-brutal installer
      ansible.builtin.get_url:
        url: https://tcp.hy2.sh/
        dest: /tmp/tcp-brutal.sh
        mode: "0755"

    - name: Run tcp-brutal installer
      ansible.builtin.command: bash /tmp/tcp-brutal.sh
      changed_when: true

    - name: Generate Shadowsocks password
      ansible.builtin.command: sing-box generate rand --base64 32
      register: ss_password_d

    - name: Trim SS password
      set_fact:
        ss_password: "{{ ss_password_d.stdout | trim }}"

    - name: Notify Shadowsocks password
      ansible.builtin.debug:
        msg: "ATTENTION! Your Shadowsocks password is: {{ ss_password }}. It needed for client."

    - name: Generate sing-box config
      ansible.builtin.template:
        src: sing-box.json.j2
        dest: /etc/sing-box/config.json
      notify: Restart sing-box

    - name: Enable and start sing-box
      ansible.builtin.systemd:
        name: sing-box
        enabled: true
        state: started
  handlers:
    - name: Restart sing-box
      ansible.builtin.systemd:
        name: sing-box
        state: restarted
