---
- name: Update package manager mirror
  ansible.builtin.replace:
    path: /etc/apt/sources.list.d/ubuntu.sources
    regexp: "^URIs:.*"
    replace: "URIs: {{ system_new_pkg_mirror }}"
  when:
    - system_new_pkg_mirror is defined
    - system_new_pkg_mirror | trim | length > 0
    - ansible_facts['distribution'] == "Ubuntu"

- name: Update apt cache
  apt:
    update_cache: yes

- name: Upgrade all packages
  apt:
    upgrade: dist
  register: apt_upgrade
  until: apt_upgrade is succeeded
  retries: 10
  delay: 15

- name: Mark reboot required if any package was upgraded
  set_fact:
    system_reboot_required: true
  when: apt_upgrade.changed | default(false)

- name: Gather installed packages
  ansible.builtin.package_facts:
    manager: auto
