---
- name: "ansiblecfgs: install-certbot"
  hosts: all
  become: true
  tasks:
    - name: Install required packages
      ansible.builtin.apt:
        name:
          - cron
          - nginx
          # required by certbot
          - python3
          - python3-dev
          - python3-venv
          - libaugeas-dev
          - gcc
        state: present
        update_cache: yes
      register: apt_result
      until: apt_result is succeeded
      retries: 10
      delay: 15

    - name: Enable and start cron
      ansible.builtin.systemd:
        name: cron
        enabled: true
        state: started

    - name: Enable and start nginx
      ansible.builtin.systemd:
        name: nginx
        enabled: true
        state: started

    - name: Create virtual environment for certbot
      ansible.builtin.shell: python3 -m venv /opt/certbot/
      args:
        creates: /opt/certbot/

    - name: Upgrade pip in certbot environment
      ansible.builtin.command: /opt/certbot/bin/pip install --upgrade pip

    - name: Install certbot and certbot-nginx in virtual environment
      ansible.builtin.command: /opt/certbot/bin/pip install certbot certbot-nginx

    - name: Create symbolic link for certbot
      ansible.builtin.file:
        src: /opt/certbot/bin/certbot
        dest: /usr/bin/certbot
        state: link
