server {
	listen 0.0.0.0:{{ nginx_port }} ssl http2;
	listen [::]:{{ nginx_port }} ssl http2;

	server_name {{ nginx_domain }};

	ssl_certificate {{ nginx_fullchain_path }};
	ssl_certificate_key {{ nginx_private_key_path }};

	ssl_protocols TLSv1.2 TLSv1.3;
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers on;

	# OCSP Stapling (https://letsencrypt.org/2024/12/05/ending-ocsp)
	ssl_stapling off;

	# HSTS
	add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;

	# Deny robots.
	location = /robots.txt {
		default_type text/plain;
		return 200 "User-agent: *\nDisallow: /\n";
	}

	location {{ nginx_location }} {
		# Local VLESS+XHTTP listening process.
		grpc_pass {{ nginx_grpc_pass }};

		grpc_set_header Connection "";
		grpc_set_header X-Forwarded-Port $server_port;
		grpc_set_header X-Forwarded-Host   $host;
		grpc_set_header Host $host;
		grpc_set_header X-Real-IP $remote_addr;
		grpc_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		grpc_set_header X-Forwarded-Proto $scheme;

		grpc_read_timeout 1h;
		grpc_send_timeout 1h;
		grpc_socket_keepalive on;
		grpc_buffer_size 16k;
	}

	root {{ nginx_web_root_path }};
	index index.html;

	location / {
        try_files $uri $uri/ =404;
    }
}
