[Unit]
Description=Caddy (naive forwardproxy fork)
Documentation=https://github.com/klzgrad/forwardproxy
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
User={{ caddy_system_user }}
Group={{ caddy_system_group }}
ExecStart={{ caddy_bin_path }} run --environ --config {{ caddy_config_dir }}/Caddyfile
ExecReload={{ caddy_bin_path }} reload --config {{ caddy_config_dir }}/Caddyfile --force
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ReadWritePaths={{ caddy_config_dir }} {{ caddy_data_dir }}

[Install]
WantedBy=multi-user.target
