services:
  caddy:
    build:
      context: "{{ caddy_dir }}"
    image: {{ caddy_image_name }}
    container_name: caddy
    restart: unless-stopped

    ports:
      - "80:80"
      - "443:443"

    networks:
      - caddy_network
{% for network in caddy_external_network_info.results %}
{% if network.exists %}
      - {{ network.item }}
{% endif %}
{% endfor %}

    volumes:
      - "{{ caddy_caddyfile }}:/etc/caddy/Caddyfile:ro"
      - "{{ caddy_sites_dir }}:/etc/caddy/sites:ro"
      - "{{ caddy_snippets_dir }}:/etc/caddy/snippets:ro"
      - "{{ caddy_data }}:/data"
      - "{{ caddy_file_server }}:/var/www"
      - "{{ caddy_certificates }}:/etc/caddy/certs:ro"

networks:
  caddy_network:
    name: caddy_network
    driver: bridge
    enable_ipv6: true
{% for network in caddy_external_network_info.results %}
{% if network.exists %}
  {{ network.item }}:
    external: true
{% endif %}
{% endfor %}
