:443, {{ caddy_domain }} {
    tls {{ caddy_acme_email }}

    route {
        forward_proxy {
            basic_auth {{ caddy_naive_username }} {{ caddy_naive_password }}
            hide_ip
            hide_via
            probe_resistance
            upstream {{ caddy_naive_upstream_socks }}
        }

        file_server {
            root {{ caddy_domain_dir }}
        }
    }
}
