{{ caddy_domain }}:{{ caddy_port }} {
	bind 127.0.0.1 ::1

	tls {{ caddy_fullchain_path }} {{ caddy_private_key_path }}

	# HSTS
	header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }

	root * {{ caddy_domain_dir }}
	file_server
}
