{{ caddy_domain }}:{{ caddy_port }} {
	bind 127.0.0.1 ::1

	{% if caddy_fullchain_path is defined and caddy_fullchain_path | length > 0 and caddy_private_key_path is defined and caddy_private_key_path | length > 0 %}
    # Manual certificates
    tls {{ caddy_fullchain_path }} {{ caddy_private_key_path }}
	{% elif caddy_acme_email is defined and caddy_acme_email | length > 0 %}
		# Auto SSL via ACME (Let's Encrypt / ZeroSSL)
		tls {{ caddy_acme_email }}
	{% endif %}

	# HSTS
	header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

	root * {{ caddy_webroot_path }}
	file_server
}
