{
    "log": {
        "loglevel": "warning"
    },
    "dns": {
        "queryStrategy": "UseIP",
        "servers": [
            {
                "address": "fakedns"
            },
            {
                "tag": "dns-direct",
                "address": "https://77.88.8.8/dns-query"
            },
            {
                "tag": "dns-direct",
                "address": "62.76.76.62"
            }
        ]
    },
    "fakedns": [
        {
            "ipPool": "198.19.0.0/16",
            "poolSize": 65535
        },
        {
            "ipPool": "fd88:1234:5678::/48",
            "poolSize": 65535
        }
    ],
    "routing": {
        "domainStrategy": "AsIs",
        "rules": [
            {
                "type": "field",
                "inboundTag": [
                    "doko-in-dns"
                ],
                "outboundTag": "dns-out"
            },
            {
                "type": "field",
                "inboundTag": [
                    "dns-direct"
                ],
                "outboundTag": "direct-out"
            },
            {
                "type": "field",
                "ip": [
                    "geoip:private",
                    "77.88.8.8",
                    "62.76.76.62"
                ],
                "outboundTag": "direct-out"
            },
            {
                "type": "field",
                "domain": [
                    "geosite:category-ru"
                ],
                "outboundTag": "direct-out"
            },
            {
                "type": "field",
                "protocol": [
                    "bittorrent"
                ],
                "outboundTag": "direct-out"
            },
            {
                "type": "field",
                "network": "udp",
                "port": "443",
                "outboundTag": "block-out"
            }
        ]
    },
    "inbounds": [
        {
            "tag": "doko-in",
            "listen": "0.0.0.0",
            "port": {{ xray_tproxy_port }},
            "protocol": "dokodemo-door",
            "settings": {
                "network": "tcp,udp",
                "followRedirect": true
            },
            "streamSettings": {
                "sockopt": {
                    "tproxy": "tproxy"
                }
            },
            "sniffing": {
                "enabled": true,
                "destOverride": [
                    "http",
                    "tls",
                    "fakedns"
                ]
            }
        },
        {
            "tag": "doko-in-dns",
            "listen": "0.0.0.0",
            "port": 53,
            "protocol": "dokodemo-door",
            "settings": {
                "network": "tcp,udp",
                "followRedirect": false
            },
            "sniffing": {
                "enabled": false
            }
        }
    ],
    "outbounds": [
        {
            "tag": "direct-out",
            "protocol": "freedom",
            "settings": {
                "targetStrategy": "UseIP"
            },
            "streamSettings": {
                "sockopt": {
                    "domainStrategy": "UseIP",
                    "mark": 2
                }
            }
        },
        {
            "protocol": "dns",
            "tag": "dns-out",
            "settings": {
                "network": "tcp",
                "address": "1.1.1.1",
                "port": 53,
                "nonIPQuery": "drop"
            },
            "streamSettings": {
                "sockopt": {
                    "domainStrategy": "UseIP",
                    "mark": 2
                }
            }
        },
        {
            "tag": "block-out",
            "protocol": "blackhole",
            "settings": {
                "response": {
                    "type": "http"
                }
            }
        }
    ]
}
