---
- name: openwrt-install-xray (compress) on localhost
  hosts: localhost
  gather_facts: false
  vars:
    compress_upx_url: "https://github.com/upx/upx/releases/download/v5.0.2/upx-5.0.2-amd64_linux.tar.xz"
    compress_xray_url: "https://github.com/XTLS/Xray-core/releases/download/v25.12.2/Xray-linux-arm64-v8a.zip"
    compress_workdir: "{{ playbook_dir }}/workdir"
    compress_xray_bin: "{{ compress_workdir }}/xray"
  tasks:
    - name: Ensure compress_workdir exists
      file:
        path: "{{ compress_workdir }}"
        state: directory
        mode: "0755"

    - name: Download and extract UPX
      shell: |
        cd "{{ compress_workdir }}"
        curl -L -o upx.tar.xz "{{ compress_upx_url }}"
        xz -d upx.tar.xz
        tar -xf upx.tar
        upx_bin=$(find . -type f -name 'upx' | head -n1)
        mv "$upx_bin" upx
        find . -mindepth 1 ! -name 'upx' -exec rm -rf {} +
      args:
        executable: /bin/bash

    - name: Download Xray
      shell: |
        cd "{{ compress_workdir }}"
        curl -L -o xray.zip "{{ compress_xray_url }}"
        if ! file xray.zip | grep -q "Zip archive"; then
          echo "Downloaded file is not a valid zip!"
          exit 1
        fi
      args:
        executable: /bin/bash

    - name: Extract Xray
      shell: |
        cd "{{ compress_workdir }}"
        unzip -q xray.zip
      args:
        executable: /bin/bash

    - name: Compress Xray with UPX
      shell: |
        cd "{{ compress_workdir }}"
        chmod +x ./upx
        chmod +x ./xray
        ./upx --best --lzma ./xray
      args:
        executable: /bin/bash
