---
- name: Ensure nftables service is enabled and started
  ansible.builtin.systemd:
    name: nftables
    enabled: true
    state: started

- name: Reload nftables
  ansible.builtin.command: nft -f /etc/nftables.conf
  changed_when: false
