---
- name: Stop nftables service
  ansible.builtin.service:
    name: nftables
    state: stopped
    enabled: false
  ignore_errors: true

- name: Flush nftables rules
  ansible.builtin.command: nft flush ruleset
  ignore_errors: true

- name: Flush all IPv4 tables and allow all
  ansible.builtin.shell: |
    iptables -F      # flush all rules in filter
    iptables -t nat -F
    iptables -t mangle -F
    iptables -t raw -F
    iptables -X      # delete user-defined chains
    iptables -P INPUT ACCEPT
    iptables -P FORWARD ACCEPT
    iptables -P OUTPUT ACCEPT
  ignore_errors: true

- name: Flush all IPv6 tables and allow all
  ansible.builtin.shell: |
    ip6tables -F
    ip6tables -t nat -F
    ip6tables -t mangle -F
    ip6tables -t raw -F
    ip6tables -X
    ip6tables -P INPUT ACCEPT
    ip6tables -P FORWARD ACCEPT
    ip6tables -P OUTPUT ACCEPT
  ignore_errors: true

- name: Stop netfilter-persistent service
  ansible.builtin.service:
    name: netfilter-persistent
    state: stopped
    enabled: false
  ignore_errors: true

- name: Remove netfilter-persistent package
  ansible.builtin.apt:
    name:
      - netfilter-persistent
      - iptables-persistent
    state: absent
    purge: yes
  ignore_errors: true

- name: Remove saved iptables rules files (IPv4/IPv6)
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/iptables/rules.v4
    - /etc/iptables/rules.v6
  ignore_errors: true

- name: Stop UFW service
  ansible.builtin.service:
    name: ufw
    state: stopped
    enabled: false
  ignore_errors: true

- name: Disable UFW
  ansible.builtin.command: ufw disable
  ignore_errors: true

- name: Remove UFW package
  ansible.builtin.package:
    name: ufw
    state: absent

- name: Stop firewalld service
  ansible.builtin.service:
    name: firewalld
    state: stopped
    enabled: false
  ignore_errors: true

- name: Remove firewalld package
  ansible.builtin.package:
    name: firewalld
    state: absent

- name: Stop Shorewall service
  ansible.builtin.service:
    name: shorewall
    state: stopped
    enabled: false
  ignore_errors: true

- name: Remove Shorewall package
  ansible.builtin.package:
    name: shorewall
    state: absent

- name: Stop CSF (ConfigServer Firewall) service
  ansible.builtin.service:
    name: csf
    state: stopped
    enabled: false
  ignore_errors: true

- name: Remove CSF package
  ansible.builtin.package:
    name: csf
    state: absent
