---
- name: Add certbot renewal cron job
  ansible.builtin.cron:
    name: "Certbot Auto Renew"
    minute: "0"
    hour: "0,12"
    user: root
    job: "python -c 'import random; import time; time.sleep(random.random() * 3600)' && {{ certbot_bin_path }} renew -q"
