---
- import_playbook: ../install-xray/playbook.yml
- import_playbook: ../generate-cert/playbook.yml
- name: "ansiblecfgs: tls-xray"
  hosts: all
  become: true
  tasks:
    - name: Add xray user self ssl group
      user:
        name: xray
        groups: "{{ ssl_group_name }}"
        append: yes
      become: true

    - name: Ensure Xray can read private key
      file:
        path: "{{ cert_key_path }}"
        group: "{{ ssl_group_name }}"
        mode: "0644"
      become: true

    - name: Ensure Xray can read public key
      file:
        path: "{{ cert_pubkey_path }}"
        group: "{{ ssl_group_name }}"
        mode: "0644"
      become: true

    - name: Add supplementary SSL group to Xray systemd unit
      ansible.builtin.copy:
        dest: /etc/systemd/system/xray.service.d/10-ssl.conf
        content: |
          [Service]
          SupplementaryGroups={{ ssl_group_name }}
        owner: root
        group: root
        mode: "0644"
      notify:
        - Reload systemd
        - Restart Xray

    - name: Generate UUID
      command: xray uuid
      register: xray_uuid

    - name: Notify UUID
      debug:
        msg: "ATTENTION! UUID is: {{ xray_uuid.stdout }}. It needed for client."

    - name: Generate Xray config
      ansible.builtin.template:
        src: xray.json.j2
        dest: /usr/local/etc/xray/config.json
      notify: Restart Xray

  handlers:
    - name: Reload systemd
      ansible.builtin.systemd:
        daemon_reload: yes

    - name: Restart Xray
      ansible.builtin.systemd:
        name: xray
        state: restarted
