---
- import_playbook: ../install-xray/playbook.yml
- import_playbook: ../generate-cert/playbook.yml
- name: "ansiblecfgs: tls-xray"
  hosts: all
  become: true
  tasks:
    - name: Add xray user to ssl group
      user:
        name: xray
        groups: ssl
        append: yes

    - name: Add supplementary SSL group to Xray systemd unit
      ansible.builtin.copy:
        dest: /etc/systemd/system/xray.service.d/10-tls.conf
        content: |
          [Service]
          SupplementaryGroups=ssl
        owner: root
        group: root
        mode: "0644"
      notify:
        - systemd daemon-reload
        - Restart Xray

    - name: Generate UUID
      command: xray uuid
      register: xray_uuid

    - name: Notify UUID
      debug:
        msg: "ATTENTION! UUID is: {{ xray_uuid.stdout }}. It needed for client."

    - name: Generate Xray config
      ansible.builtin.template:
        src: xray.json.j2
        dest: /usr/local/etc/xray/config.json
      notify: Restart Xray

  handlers:
    - name: systemd daemon-reload
      ansible.builtin.command: systemctl daemon-reload

    - name: Restart Xray
      ansible.builtin.service:
        name: xray
        state: restarted
