---
- import_playbook: ../install-xray/playbook.yml
- import_playbook: ../generate-cert/playbook.yml
- name: "ansiblecfgs: tls-xray"
  hosts: all
  become: true
  tasks:
    - name: Generate UUID
      command: xray uuid
      register: xray_uuid

    - name: Notify UUID
      debug:
        msg: "ATTENTION! UUID is: {{ xray_uuid.stdout }}. It needed for client."

    - name: Generate Xray config
      ansible.builtin.template:
        src: xray.json.j2
        dest: /usr/local/etc/xray/config.json
      notify: Restart Xray

  handlers:
    - name: Restart Xray
      ansible.builtin.systemd:
        name: xray
        state: restarted
