---
- name: "ansiblecfgs: deploy-nginx-conf"
  hosts: all
  become: true
  tasks:
    - name: Ensure nginx is installed
      ansible.builtin.package:
        name: nginx
        state: present

    - name: Ensure staging directory exists
      ansible.builtin.file:
        path: "{{ staging_conf | dirname }}"
        state: directory
        owner: root
        group: "{{ deploy_group }}"
        mode: "2775" # setgid, rwxrwsr-x

    - name: Copy nginx.conf from localhost to staging
      ansible.builtin.copy:
        src: ./nginx.conf # control node file
        dest: "{{ staging_conf }}"
        owner: root
        group: "{{ deploy_group }}"
        mode: "0664"

    - name: Test nginx configuration
      ansible.builtin.command: nginx -t -c {{ staging_conf }}
      register: nginx_test
      changed_when: false
      failed_when: nginx_test.rc != 0

    - name: Check if /etc/nginx/nginx.conf exists
      ansible.builtin.stat:
        path: "{{ target_conf }}"
      register: nginx_conf_stat

    - name: Backup current nginx.conf if it exists
      ansible.builtin.copy:
        src: "{{ target_conf }}"
        dest: "{{ target_conf }}.bak"
        owner: root
        group: root
        mode: "0644"
        remote_src: yes
      when: nginx_test.rc == 0 and nginx_conf_stat.stat.exists

    - name: Deploy staging config to /etc/nginx/nginx.conf
      ansible.builtin.copy:
        src: "{{ staging_conf }}"
        dest: "{{ target_conf }}"
        owner: root
        group: root
        mode: "0644"
        remote_src: yes
      when: nginx_test.rc == 0
      notify: Reload nginx

  handlers:
    - name: Reload nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded
