services:
  {{ teletrack_container_name }}:
    build:
      context: "{{ teletrack_dir }}"
    image: teletrack:latest
    container_name: {{ teletrack_container_name }}
    restart: on-failure:5
    volumes:
      - {{ teletrack_config }}:/app/config.json
      - {{ teletrack_data }}:/var/lib/teletrack
    networks:
      - teletrack_net

networks:
  teletrack_net:
    enable_ipv6: true
