services:
  {{ teletrack_container_name }}:
    build:
      context: "{{ teletrack_dir }}"
    image: teletrack:latest
    container_name: {{ teletrack_container_name }}
    restart: unless-stopped
    volumes:
      - {{ teletrack_config }}:/app/config.json
    networks:
      - teletrack_net

networks:
  teletrack_net:
    enable_ipv6: true
