[Unit]
Description=teletrack bot
After=network.target
Wants=network-online.target

[Service]
WorkingDirectory={{ teletrack_install_dir }}
Type=simple
ExecStart={{ teletrack_install_dir }}/teletrack
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target