{
    "log": {
        "level": "warning",
        "timestamp": true
    },
    "dns": {
        "final": "cloudflare-direct",
        "servers": [
            {
                "tag": "cloudflare-direct",
                "type": "https",
                "server": "1.1.1.1"
            },
            {
                "tag": "google-direct",
                "type": "https",
                "server": "8.8.8.8"
            }
        ]
    },
    "inbounds": [
        {
            "type": "vless",
            "tag": "vless-in",
            "listen": "::",
            "listen_port": 443,
            "users": [
                {
                    "name": "sekai",
                    "uuid": "{{ singbox_uuid.stdout }}",
                    "flow": "xtls-rprx-vision"
                }
            ],
            "tls": {
                "enabled": true,
                "alpn": [
                    "h3",
                    "h2"
                ],
                "server_name": "{{ sni }}",
                "certificate_path": "{{ cert_pubkey_path }}",
                "key_path": "{{ cert_key_path }}"
            }
        }
    ],
    "outbounds": [
        {
            "type": "direct",
            "tag": "direct-out"
        }
    ],
    "route": {
        "final": "direct-out",
        "default_domain_resolver": "cloudflare-direct",
        "rules": [
            {
                "action": "sniff"
            },
            {
                "protocol": "dns",
                "action": "hijack-dns"
            },
            {
                "action": "reject",
                "protocol": [
                    "bittorrent"
                ]
            }
        ]
    },
    "experimental": {
        "cache_file": {
            "enabled": true
        }
    }
}
