---
- name: "ansiblecfgs: openwrt-install-sing-box (templates)"
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Ensure template directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - "{{ ts_sb_etc_config | dirname }}"
        - "{{ ts_sb_initd_config | dirname }}"
        - "{{ ts_sb_config | dirname }}"

    - name: Render etc config
      template:
        src: config/sing-box.j2
        dest: "{{ ts_sb_etc_config }}"

    - name: Render initd config
      template:
        src: init.d/sing-box.j2
        dest: "{{ ts_sb_initd_config }}"

    - name: Render config
      copy:
        src: sing-box/config.json
        dest: "{{ ts_sb_config }}"
