---
- name: "nginx: base"
  hosts: all
  become: true
  tasks:
    - name: "firewall: apply rules"
      block:
        - name: Set HTTP rules
          ansible.builtin.set_fact:
            firewall_rule_name: "allow_http"
            firewall_rules:
              - "add rule inet filter input tcp dport {80, 443} accept"
              - "add rule inet filter input udp dport 443 accept"

        - name: Add rules
          ansible.builtin.include_role:
            name: firewall
            tasks_from: rules.yml

        - name: Apply rules
          ansible.builtin.include_role:
            name: firewall
            tasks_from: apply.yml

    - name: "nginx: install, apply base config"
      block:
        - name: Install
          ansible.builtin.include_role:
            name: nginx
            tasks_from: install.yml

        - name: Create base config
          ansible.builtin.include_role:
            name: nginx
            tasks_from: base.yml

        - name: Apply
          ansible.builtin.include_role:
            name: nginx
            tasks_from: apply.yml
