user www-data;
worker_processes auto;
pid /var/run/nginx.pid;
error_log /var/log/nginx/error.log notice;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 1024;
}

http {
	server {
		listen 80 default_server;
		listen [::]:80 default_server;
		server_name _;
		return 301 https://$host$request_uri;
	}

	server {
		listen 127.0.0.1:{{ nginx_port }} ssl http2;
		server_name {{ certbot_domain }};

		ssl_certificate /etc/letsencrypt/live/{{ certbot_domain }}/fullchain.pem;
		ssl_certificate_key /etc/letsencrypt/live/{{ certbot_domain }}/privkey.pem;

		ssl_protocols TLSv1.3;
		ssl_ecdh_curve X25519:secp384r1:secp521r1;

		# OCSP Stapling
		ssl_stapling on;
		ssl_stapling_verify on;
		resolver 1.1.1.1 8.8.8.8 valid=300s;
		resolver_timeout 5s;
		
		# HSTS
		add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;

		location / {
			root /usr/share/nginx/html;
			index index.html;
		}
	}
}
