{{ caddy_ghost_admin_domain }} {
	tls /etc/caddy/certs/{{ caddy_ghost_admin_domain }}.crt /etc/caddy/certs/{{ caddy_ghost_admin_domain }}.key

 	import /etc/caddy/snippets/ghost/Logging

 	# Traffic Analytics service
 	import /etc/caddy/snippets/ghost/TrafficAnalytics

 	# ActivityPub Service
 	import /etc/caddy/snippets/ghost/ActivityPub

 	# Default proxy everything else to Ghost
 	handle {
 		reverse_proxy {{ caddy_ghost_reverse_proxy }}
 	}

 	# Optional: Enable gzip compression
 	encode gzip

 	# Optional: Add security headers
 	import /etc/caddy/snippets/ghost/SecurityHeaders
}
