---
- include_tasks: community_crypto.yml

- name: Ensure certificate directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: "{{ openssl_ssl_group_name }}"
    mode: "0750"
  loop:
    - "{{ openssl_key_path | dirname }}"
    - "{{ openssl_certificate_path | dirname }}"

- name: Generate private key if not exists
  community.crypto.openssl_privatekey:
    path: "{{ openssl_key_path }}"
    size: 2048
    type: RSA
    mode: "0640"
    group: "{{ openssl_group_name }}"
  register: key_result
  changed_when: key_result.changed

- name: Check if CSR exists
  ansible.builtin.stat:
    path: "{{ temp_csr_path }}"
  register: csr_stat

- name: Generate CSR
  community.crypto.openssl_csr:
    path: "{{ temp_csr_path }}"
    privatekey_path: "{{ openssl_key_path }}"
    common_name: "{{ openssl_sni }}"
    subject_alt_name:
      - "DNS:{{ openssl_sni }}"
      - "DNS:www.{{ openssl_sni }}"
  when: key_result.changed or not csr_stat.stat.exists

- name: Generate self-signed certificate
  community.crypto.x509_certificate:
    path: "{{ openssl_certificate_path }}"
    csr_path: "{{ temp_csr_path }}"
    privatekey_path: "{{ openssl_key_path }}"
    provider: selfsigned
    selfsigned_not_after: "+{{ openssl_cert_days }}d"
    selfsigned_not_before: "+0s"
    mode: "0644"
    group: "{{ openssl_group_name }}"
    force: false
  register: cert_result

- name: Cleanup temporary CSR
  ansible.builtin.file:
    path: "{{ temp_csr_path }}"
    state: absent
  when: cert_result is succeeded

- block:
    - name: Ensure output dir exists on localhost
      ansible.builtin.file:
        path: "{{ openssl_output_dir }}"
        state: directory
        mode: "0700"
      delegate_to: localhost
      become: false
      run_once: true

    - name: Save certificate to localhost
      ansible.builtin.copy:
        src: "{{ openssl_certificate_path }}"
        dest: "{{ openssl_output_dir }}/{{ inventory_hostname }}-{{ sni }}.crt"
        mode: "0644"
      delegate_to: localhost
      become: false
      run_once: true

    - name: Save private key to localhost
      ansible.builtin.copy:
        src: "{{ openssl_key_path }}"
        dest: "{{ openssl_output_dir }}/{{ inventory_hostname }}-{{ sni }}.key"
        mode: "0600"
      delegate_to: localhost
      become: false
      run_once: true
  when: cert_result.changed
