services:
  {{ singbox_container_name }}:
    build:
      context: "{{ singbox_dir }}"
    image: sing-box:latest
    container_name: {{ singbox_container_name }}
    restart: unless-stopped
    networks:
      - "{{ singbox_network }}"

    volumes:
      - {{ singbox_config }}:/etc/sing-box/config.json:ro
      - {{ singbox_data }}:/var/lib/sing-box
{% if singbox_certificates is defined and singbox_certificates %}
      - {{ singbox_certificates }}:/var/lib/sing-box/certificates
{% endif %}

networks:
  {{ singbox_network }}:
    name: {{ singbox_network }}
    driver: bridge
    enable_ipv6: true
