{
    "$schema": "https://sing-box.sagernet.org/schema.json",
    "log": {
        "level": "warning",
        "timestamp": true
    },
    "dns": {
        "final": "cloudflare-direct",
        "strategy": "ipv4_only",
        "reverse_mapping": true,
        "servers": [
            {
                "tag": "cloudflare-direct",
                "type": "https",
                "server": "1.1.1.1"
            },
            {
                "tag": "google-direct",
                "type": "https",
                "server": "8.8.8.8"
            }
        ]
    },
    "http_clients": [
        {
            "tag": "client-direct",
            "engine": "go",
            "version": 2
        }
    ],
    "inbounds": [
        {
            "type": "mixed",
            "tag": "mixed-in",
            "listen": "{{ singbox_listen }}",
            "listen_port": {{ singbox_listen_port }}
        }
    ],
    "outbounds": [
        {
            "type": "direct",
            "tag": "direct-out"
        }
    ],
    "route": {
        "final": "direct-out",
        "default_domain_resolver": "cloudflare-direct",
        "default_http_client": "client-direct",
        "rules": [
            {
                "action": "sniff"
            },
            {
                "protocol": "dns",
                "action": "hijack-dns"
            },
            {
                "action": "reject",
                "protocol": [
                    "bittorrent",
                    "quic"
                ]
            }
        ]
    },
    "experimental": {
        "cache_file": {
            "enabled": true
        }
    }
}
